/contacts_db.db
/login.json
/contactscgi/nbproject/Package-Release.bash
/contactscgi/nbproject/private/launcher.properties
/contactscgi/nbproject/Makefile-Release.mk
/contactscgi/nbproject/Makefile-Debug.mk
/contactscgi/nbproject/Package-Debug.bash
/contactscgi/Makefile
/contactscgi/nbproject/private/private.xml
/contactscgi/nbproject/private/configurations.xml
/contactscgi/nbproject/project.xml
/contactscgi/nbproject/private/timestamps-gaspode-pi-22
/contactscgi/nbproject/Makefile-variables.mk
/contactscgi/clog.h
/contactscgi/dist/Debug/GNU-Linux/contactscgi
/contactscgi/nbproject/private/Makefile-variables.mk
/contactscgi/nbproject/Makefile-impl.mk
/contactscgi/nbproject/private/downloads-gaspode-pi-22
/contactscgi/nbproject/configurations.xml
/contactscgi/.dep.inc
/contactscgi/nbproject/private/c_standard_headers_indexer.c
/contactscgi/nbproject/private/cpp_standard_headers_indexer.cpp