body {
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: small;
    margin: 8px 0px 16px;
    text-align: center;
}
#form_container {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    margin: 0px auto;
    text-align: left;
    width: 640px;
}
#footer {
    clear: both;
    color: rgb(153, 153, 153);
    text-align: center;
    width: 640px;
    padding-bottom: 15px;
    font-size: 85%;
}
#footer a {
    color: rgb(153, 153, 153);
    text-decoration: none;
    border-bottom: 1px dotted rgb(153, 153, 153);
}
h1 {
    background-color: rgb(222, 222, 222);
    margin: 0px;
    min-height: 0px;
    padding: 0px;
    text-decoration: none;
    text-indent: -8000px;
}
h1 a {
    display: block;
    height: 100%;
    min-height: 40px;
    overflow: hidden;
}
form ul {
    font-size: 100%;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
form li {
    display: block;
    margin: 0px;
    padding: 4px 5px 2px 9px;
    position: relative;
}
form li::after {
    clear: both;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
}
.buttons::after {
    clear: both;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
}
.buttons {
    clear: both;
    display: block;
    margin-top: 10px;
}
* html form li {
    height: 1%;
}
* html .buttons {
    height: 1%;
}
* html form li div {
    display: inline-block;
}
form li div {
    color: rgb(68, 68, 68);
    margin: 0px 4px 0px 0px;
    padding: 0px 0px 8px;
}
form li span {
    color: rgb(68, 68, 68);
    float: left;
    margin: 0px 4px 0px 0px;
    padding: 0px 0px 8px;
}
form li div.left .medium {
    width: 100%;
}
form li div.right .medium {
    width: 100%;
}
form li div label {
    clear: both;
    color: rgb(68, 68, 68);
    display: block;
    font-size: 9px;
    line-height: 9px;
    margin: 0px;
    padding-top: 3px;
}
form li span label {
    clear: both;
    color: rgb(68, 68, 68);
    display: block;
    font-size: 9px;
    line-height: 9px;
    margin: 0px;
    padding-top: 3px;
}
.form_description {
    border-bottom: 1px dotted rgb(204, 204, 204);
    clear: both;
    display: inline-block;
    margin: 0px 0px 1em;
}
.form_description h2 {
    clear: left;
    font-size: 160%;
    font-weight: 400;
    margin: 0px 0px 3px;
}
.form_description p {
    font-size: 95%;
    line-height: 130%;
    margin: 0px 0px 12px;
}
form hr {
    display: none;
}
input.button_text {
    overflow: visible;
    padding: 0px 7px;
    width: auto;
}
.buttons input {
    font-size: 120%;
    margin-right: 5px;
}
label.description {
    border: none;
    color: rgb(34, 34, 34);
    display: block;
    font-size: 95%;
    font-weight: 700;
    line-height: 150%;
    padding: 0px 0px 1px;
}
input.text {
    background: center top repeat-x rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(124, 124, 124) rgb(195, 195, 195) rgb(221, 221, 221);
    color: rgb(51, 51, 51);
    font-size: 100%;
    margin: 0px;
    padding: 2px 0px;
}
textarea.textarea {
    background: center top repeat-x rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(124, 124, 124) rgb(195, 195, 195) rgb(221, 221, 221);
    color: rgb(51, 51, 51);
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 100%;
    margin: 0px;
    width: 99%;
}
input.medium {
    width: 50%;
}
select.medium {
    width: 50%;
}
textarea.medium {
    height: 10em;
}
.password input.text {
    width: 380px;
    text-align: center;
    font-size: 170% !important;
}
.embed #form_container {
    border: none;
}
.embed #form_container {
    width: 100%;
}
.embed #footer {
    text-align: left;
    padding-left: 10px;
    width: 99%;
}
.embed #footer.success {
    text-align: center;
}
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,
td {
    padding: 5px;
}
th {
    text-align: left;
}